.container {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.texttilte
{
  /* TP. Hồ Chí Minh - Thốt Nốt */

position: absolute;
width: 600px;
height: 48px;
left: 393px;
top: 131px;

/* H3 */
font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 44px;
line-height: 110%;

color: #000000;

}

.seatLayout {

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 1378px;
height: 771px;
left: 31px;
top: 318px;


}
.title1{
  position: absolute;

  /* Tầng trên */
display:inline-flex;
width: 190px;
height: 31px;

/* H4 */
font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 110%;
/* identical to box height, or 31px */
text-align: center;

color: #000000;
/* background-color: #000000; */
z-index: 3;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
top:260px;
left:300px;
}
.title2{
  /* Tầng trên */
display:inline-flex;
width: 190px;
height: 31px;
position: absolute;

/* H4 */
font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 110%;
/* identical to box height, or 31px */
text-align: center;

color: #000000;
/* background-color: #000000; */
z-index: 3;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
top:260px;
left:720px;

}

.seatColumn {
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  gap: 10px 30px;
  margin-left: 10px;
}

.seat {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.available {
  background-color: #D7987D; 
  color: white;
}

.booked {
  background-color: #AAAAAA; 
  color: white;
  cursor: not-allowed;
}

.selected {
  background-color: #ff5733; 
  color: white;
}

.details {
  margin-top: 20px;
  text-align: left;
  display: inline-block;
width:300px;
border-style:outset;
border-radius: 10px;
}
.center
{
  text-align: center;
}
.updateButton {

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 60px;
gap: 10px;

position: absolute;
width: auto;
height: 61px;
left: 110px;
top: 67px;

background: #92C3BE;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
border-radius: 15px;

/* H4 */
font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 110%;
/* identical to box height, or 31px */

color: #FFFFFF;


flex: none;
order: 0;
flex-grow: 0;
}

.bookButton:hover {
  background-color: #D7987D;
}

.backIcon
{
  /* ic:round-arrow-back-ios */

position: absolute;
width: 24px;
height: 24px;
left: 147px;
top: 150px;


}
.statusContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 470px;
  margin-left: 500px;
}

.statusBox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-left: 25px;
  margin-top: 250px;
}

.bookedStatus {
  background-color: #AAAAAA; /* Màu cho ghế đã đặt */
}

.availableStatus {
  background-color: #D7987D; /* Màu cho ghế còn trống */
}

.statusText {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}